#!/usr/bin/env bash

# Node
export NODE_ENV="development"

# Postgres
export PGHOST="localhost"
export PGPORT="5432"
export PGUSER=$(node -p "require('./package.json').name")
export PGPASSWORD=$(node -p "require('./package.json').name")
export PGDATABASE=$(node -p "require('./package.json').name.split('/').shift()")
export PGSCHEMA=$(node -p "require('./package.json').name.split('/').pop()")

# Load sensitive environment variables
ENV_FILE="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )/.env"
if [ -f "$ENV_FILE" ]; then
  source "$ENV_FILE"
fi
